<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <% @exams.each do |exam| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title"><%= exam.name %></h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <%= link_to "Thực hiện bài kiểm tra", exam_path(id: exam.id, type: "home"),
              class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
